.authentication {
  padding: 20px;
  background-color: #ddd;
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 40px 20px;
}

.dashboard {
  padding: 20px;
}


#home {
  padding: 30px;
  background-color: #ddd;
}

.placeOrderContainer {
  padding: 20px;
  background-color: #fff;
}

.pendingContainer {
  padding: 20px;
  background-color: #fff;
}

.completedContainer {
    padding: 20px;
      background-color: #fff;
}

.userOrderContainer {
  padding: 20px;
  background-color: #fff;
}